<section class="card__modal-choice">
	<div class="card__modal-wrapper">
		<div class="card__modal-images">
			<img src={{filmData.imageUrl}} class="card__modal-image" alt="">
		</div>
		<div class="card__modal-item">
			<h2 class="card__modal-name">{{filmData.name}}</h2>
			<p class="card__modal-genre">{{filmData.genreStr}}</p>
			<p class="card__modal-year">{{filmData.year}}</p>
			<p class="card__modal-description">{{filmData.description}}</p>
			<div class="card__modal-btn">
				<button class="card__modal-blue" (click)="selectBestFilm()" *ngIf="!bestFilmFlag">Выбрать лучшим фильмом</button>
				<button class="card__modal-red" (click)="removeFromBestFilm()"*ngIf="bestFilmFlag">Не лучший фильм</button>
				<button class="card__modal-red" (click)="onNoClick()">Закрыть</button>
			</div>
		</div>
	</div>
  </section>