<section class="card__wrapper">
  <h1 class="card__title">Популярные фильмы</h1>

  <mat-form-field appearance="fill">
    <mat-label>Жанры</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{toppings.value?.[0] || ''}}
        <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
          (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping" (click)="test()">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Поиск</mat-label>
    <input matInput type="text" [(ngModel)]="value" (ngModelChange)="findFilm($event)">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="card__grid">
    <div class="card__item" *ngFor="let item of displayData" (click)="openDialog(item)">
      <img src="{{item.imageUrl}}" class="card__image" alt="">
      <h2 class="card__name">{{item.name}}</h2>
      <p class="card__description">{{item.genreStr.join(" ")}}</p>
      <p class="card__year">{{item.year}}</p>
      <button class="card__btn-heart" mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

  <div (click)="openDialog(bestFilm)" class="card__grid-down" >
    <h1 class="card__title-down">Самый лучший фильм</h1>
    <div class="card__item-down" *ngIf="bestFilm">
      <img src="{{bestFilm.imageUrl}}" class="card__image-down" alt="">
      <h2 class="card__name-down">{{bestFilm.name}}</h2>
      <p class="card__description-down">{{bestFilm.genreStr.join(" ")}}</p>
      <p class="card__year-down">{{bestFilm.year}}</p>
    </div>
  </div>

  <!-- <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->

</section>