* {
    margin: 0;
}

.card__wrapper {
    width: 1440px;
    background-color: #F4F4F4;
    margin: 0 auto;
}

.card__title {
    margin-bottom: 86px;
    padding-top: 37px;
    padding-left: 25px;
}

.card__title-down {
    margin-bottom: 15px;
}

.card__grid {
    padding: 37px 25px 44px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}

.card__grid-down {
    padding: 37px 25px 44px 25px;
}

.card__item {
    width: 190px;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(29, 24, 56, 0.1);
    border-radius: 10px;
    position:relative;
}

.card__btn-heart {
    position:absolute;
    top: 85%;
    right: 5%;
}

.card__item-down {
    width: 190px;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(29, 24, 56, 0.1);
    border-radius: 10px;
}

.card__image {
    width: 150px;
    height: 225px;
    /* border-radius: 5px; */
    padding: 15px 20px 0;
}

.card__image-down {
     width: 150px;
    height: 225px;
    /* border-radius: 5px; */
    padding: 15px 20px 0;
}

.card__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1D1838;
    padding: 10px 20px;
    height: 34px;
}

.card__name-down {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1D1838;
    padding: 10px 20px;
}

.card__description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #1D1838;
    width: 150px;
    height: 28px;
    padding: 0 20px;
}

.card__description-down {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #1D1838;
    width: 150px;
    height: 28px;
    padding: 0 20px;
}

.card__year {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 150px;
    height: 14px;
    padding: 10px 20px 56px;
}

.card__year-down {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 150px;
    height: 14px;
    padding: 10px 20px 56px;
}


