<section class="card__wrapper">
	<h1 class="card__title">Популярные фильмы</h1>
	<div class="card__grid">
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		<div class="card__item">
			<img src="./img/image1.png" class="card__image" alt="">
			<h2 class="card__name">Список Шиндлера</h2>
			<p class="card__description">драма, биография, история, военный</p>
			<p class="card__year">1993</p>
		</div>
		
	</div>
	<div class="card__grid-down">
		<h1 class="card__title-down">Самый лучший фильм</h1>
		<div class="card__item-down">
		<img src="./img/image1.png" class="card__image-down" alt="">
		<h2 class="card__name-down">Список Шиндлера</h2>
		<p class="card__description-down">драма, биография, история, военный</p>
		<p class="card__year-down">1993</p>
		</div>
	</div>
	
</section>